<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %> | <%= link_to "Delete dose", dose_path(dose), method: :delete %></li>
  <% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Description'%>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.button :submit %>
<% end %>
